// INDEX.HTML
@media (max-width: 998px) {
    .storeHome{
        .productos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

    }
    
}
// CONTACTO.HTML
@media (max-width: 768px){
    .formulario{
        width: 40%;
    }
 }

//  ABOUT ME.HTML
 @media (max-width: 769px){
    .main-am{
        .description{
            .history {
                font-size: 33px;
                font-weight: 400;
                margin-top: 10%;
            }
        }
    }
}

// BLOG.HTML
@media (max-width: 769px){
    main{
        .fotos{
            p{
                font-size: 30px;
            }
        }
    }
}
