@mixin bacgroundimage{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
        object-position: 50% 0%;
        /* PARA VER COMO QUEDA    opacity: 0.85; */
        z-index: -1;
    
}