header {
    background-color: rgba(0, 0, 0, 0.26);
    nav {
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            list-style: none;
            gap: 6%;
            width: 100%;
    
            li {
                list-style: none;
    
                a {
                    text-decoration: none;
                    font-family: 'Alumni Sans', sans-serif;
                    font-size: 40px;
                    color: white;
    
                    &:hover {
                        color: rgba(99, 99, 107, 0.797);
                    }
                }
    
            }
        }
    }
    h1 {
        font-family: 'Source Serif 4', serif;
        font-size: 60px;
        font-weight: 400;
        text-align: center;
        color: whitesmoke;
    }
}

