.am-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-am {
    position: relative;
    // background-position: 50%;
    height: 100%;


    .description {
        display: flex;
        justify-content: center;
        margin-top: 17%;
        margin-bottom: 8%;

        .history {
            font-family: 'Alumni Sans', sans-serif;
            font-size: 40px;
            font-weight: 400;
            grid-area: item1;
            color: $font-color1;
            display: flex;
            text-align: center;
            width: 50%;
        }
    }

}