.principal {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.mainHome {
    position: relative;
    background-position: 50%;
    min-height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1em; */
    box-sizing: border-box;
    .guitarra {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
        object-position: 50% 0%;
        /* PARA VER COMO QUEDA    opacity: 0.85; */
        z-index: -1;
    }


    .videos {
        margin-bottom: 10rem;
        margin-top: 15rem;
        display: grid;
        width: 100%;
        height: 50%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        gap: 15%;

        iframe {
            border-radius: 5%;
        }

        .Video1 {
            order: 1;
            display: flex;
            align-content: end;
            justify-content: end;
        }

        .Video2 {
            order: 2;
            display: flex;
            align-content: start;
            justify-content: start;
        }

        .Video3 {
            order: 3;
            display: flex;
            place-self: end;
        }

        .Video4 {
            order: 4;
            display: flex;
            place-self: start;
        }
    }
}

.blogHome {
    position: relative;
    background-position: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: 'Alumni Sans', sans-serif;
        font-size: 60px;
        font-weight: 400;
        text-align: center;
        color: whitesmoke;
    }

    .fotos {
        padding: 5rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "imagen1 ."
            "desc-img1 ."
        ;
        column-gap: 2%;
        margin-bottom: 10rem;

        .imagen1 {
            display: flex;
            place-self: center end;
            border-radius: 15%;

        }

        .imagen2 {
            display: flex;
            place-self: center end;
            border-radius: 15%;
        }

        .desc-img1 {
            place-self: center;
        }

        .desc-img2 {
            place-self: center;
        }

        p {
            font-family: 'Alumni Sans', sans-serif;
            font-size: 30px;
            font-weight: 400;
            text-align: left;
            color: whitesmoke;
            text-shadow: -2px -2px 0px rgb(0, 0, 0);
            padding: 2rem;
        }

        img {
            width: 100%;
        }
    }
}


.storeHome {
    position: relative;
    background-position: 50%;
    display: flex;
    flex-direction: column;

    h3 {
        font-family: 'Alumni Sans', sans-serif;
        font-size: 60px;
        font-weight: 400;
        text-align: center;
        color: whitesmoke;
    }

    .productos {
        margin-bottom: 10rem;
        font-family: 'Alumni Sans', sans-serif;
        font-size: 50px;
        font-weight: 400;
        margin-top: 15%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        width: 100%;

        .item1 {
            display: flex;
            place-items: center;
            flex-direction: column;
        }

        .item2 {
            display: flex;
            place-items: center;
            flex-direction: column;
        }

        .item3 {
            display: flex;
            place-items: center;
            flex-direction: column;
        }

        .item4 {
            display: flex;
            place-items: center;
            flex-direction: column;
        }

        div {
            figcaption {
                a {
                    text-decoration: none;
                    list-style: none;
                    color: whitesmoke;
                    text-shadow: -2px -2px 0px rgb(0, 0, 0);
                }
            }

            img {
                height: 15.6rem;
                width: 15.6rem;
                border-radius: 100%;
            }

        }
    }

}


