.contacto-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}

.main-contacto {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    .formulario {
        min-width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .background-img {
        @include bacgroundimage
            }
}
.footer-contacto {
    margin-top: auto;
}