.store-principal {
    background-image: url(/assets/img/Fondo-store-principal.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.productos-store {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    width: 100%;

    img {
        height: 15.6rem;
        width: 15.6rem;
        border-radius: 100%;
    }

    figcaption {
        text-decoration: none;
        list-style: none;
        color: whitesmoke;
        text-shadow: -2px -2px 0px rgb(0, 0, 0);
        font-family: 'Alumni Sans', sans-serif;
        font-size: 50px;
        font-weight: 400;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}